*.aux
*.ent
*.epub
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.toc
*.xdv
.*.swp
FILELIST
deps
epub/*.epub
fonts/*.eps
fonts/*.svg
jpeg/*.jpg
latex/*.cache
latex/*.idx.md5
latex/*.pdf
latex/git-revision.tex
proof
trim
v0.0.3-alpha
